body {
  display: flex;
  flex-direction: columns;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #ffffff; /* branco */
  color: #2d2d2d; /* preto */
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.container {
  max-width: 600px;
  margin: 50px 20px;
  padding: 40px 40px;
  background-color: #ffffff; /* branco */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(51, 0, 67, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  width: 160px;
  margin-bottom: 10px;
}

.heading {
  font-size: 22px;
  font-weight: 800;
  color: #330043; /* roxo */
  margin: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #330043; /* roxo */
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: calc(100% - 24px); /* Ajuste para a largura dos inputs */
  padding: 12px;
  border: 2px solid #330043; /* roxo */
  border-radius: 8px;
  background-color: rgba(51, 0, 67, 0.2); /* roxo com transparência */
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

textarea {
  resize: vertical;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: rgba(51, 0, 67, 0.2); /* roxo */
}


.btn {
  background-color: #330043; /* roxo */
  color: #ffffff; /* branco */
  width: 100%; /* Ocupa toda a largura do container */
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgba(51, 0, 67, 0.67); /* tom mais escuro de roxo */
}
